body {
	background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);
	font-family: "Raleway", sans-serif;
}

.container {
	width: 360px;
	height: 500px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 20px;
}

h1 {
	position: absolute;
	left: 50%;
	top: -60px;
	width: 300px;
	transform: translateX(-50%);
	background-color: #001f4f;
	color: #fff;
	font-weight: 100;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-size: 18px;
	text-align: center;
	padding: 10px;
}

.wrapper {
	padding: 20px;
}

input,
select {
	width: 80%;
	border: none;
	border-bottom: 1px solid #0074d9;
	padding: 10px;
}

input:focus,
select:focus {
	border: 1px solid #0074d9;
	outline: none;
}

select {
	width: 88% !important;
}

button {
	margin: 20px auto;
	width: 150px;
	height: 50px;
	background-color: #001f4f;
	color: #fff;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	
}

.tip {
	text-align: center;
	font-size: 18px;
	display: none;
	color: white;
}


modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	border-radius: 25px;
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #001f4f;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	border-radius: 25px;
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
  }